<div class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IMPOL Asistent</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink class="mud-nav-link" href="/">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Chat
            </MudNavLink>
        </div>
     
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
<style>
    .nav-scrollable{
        background-color: #204490;
    }
    .mud-nav-link {
        text-decoration: none !important;
        vertical-align: middle;
       
    }

    .navbar {
        background-color: #f7f7f7;
    }

    .bi {
        vertical-align: middle; 
    }
</style>
