@page "/chat"

@using IMPOLAssistant.Shared.Models
@using MudBlazor
@inject IJSRuntime JS
@inject HttpClient Http

<MudContainer >
    <MudPaper>
        <div class="flex-container" >
        <MudText Typo="Typo.h5">IMPOL Asistent Chat</MudText>
            <img src="images/impol-seval.jpg" alt="Description of the image" class="side-image" />

        </div>
        <h5>Zdravo! Kako mogu da vam pomognem danas?</h5>
       
    </MudPaper>
   
    <MudPaper Class="chat-history" id="chatHistory">

        <div class="message-container"  >
        @foreach (var message in messages)
        {
                <div class="message-box" >
                    <MudText Typo="Typo.body1">@message.Content (@message.Timestamp)</MudText>
                </div>
        }
        </div>
    </MudPaper>

    <MudContainer Class="chat-input">
        <MudTextField @bind-Value="@userInput" Placeholder="Unesite svoju poruku ovde..." FullWidth="true" Class="custom-input" />
        <MudButton OnClick="SendMessage" Color="Color.Primary" Class="custom-button">Pošalji</MudButton>
    </MudContainer>
</MudContainer>

@code {
    private string userInput;
    private List<Message> messages = new List<Message>
    {
        
    };
   

    private async Task SendMessage()
    {
        if (!string.IsNullOrEmpty(userInput))
        {
            var userMessage = new Message { Content = userInput, Timestamp = DateTime.Now };
            var response = await Http.PostAsJsonAsync("https://localhost:7202/api/Chat/send", userMessage);
            var responseStream = await response.Content.ReadFromJsonAsync<IAsyncEnumerable<Message>>();
            await foreach (var message in responseStream)
            {
                messages.Add(message);

            }
            await JS.InvokeVoidAsync("scrollPageToBottom");
            userInput = string.Empty;
         
        }
    }
  

}
<style>
    .chat-history {
        height:100%;
       
        padding: 16px;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        margin-bottom: 150px;
    }
    h5{
        margin-top:0.5rem;
    }

    .chat-input {
        position: fixed;
        bottom: 0rem;
        left: 37%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: #f0f0f0;
        border-radius: 24px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 40%;
        margin-top:4rem;
        
    }

    .message-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    .message {
        margin: 8px 0;
        background-color: #e0e0e0;
        padding: 8px 16px;
        border-radius: 12px;
        max-width: 80%;
        text-align: center;
    }

    .custom-input {
        
        flex-grow: 1;
        margin-right: 8px;
        border: none;
        padding: 12px;
        border-radius: 24px;
       height:100px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

        .custom-input input {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            padding: 0 !important;
            width:500px;
            background-color: transparent !important;
        }

    .custom-button {
        padding: 12px 20px;
        border-radius: 24px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .custom-button:hover {
            background-color: #0056b3;
        }

        .custom-button:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
        }

    .flex-container {
        display: flex;
        align-items: center; 
    }

    .side-image {
        margin-left: 10px; 
        max-width: 100px;
        height:auto;
    }

    .message-box {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 12px;
        margin: 8px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 80%;
        word-wrap: break-word;
       
    }

        .message-box .mud-text {
            margin: 0;
        }
</style>
